.sidebar {
  width: 220px;
  background: black;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.sidebar ul li {
  padding: 12px;
  cursor: pointer;
}

.sidebar ul li:hover {
  border: 1px solid white;
}

.logo-circle {
  width: 60px;
  height: 60px;
  background: white;
  border-radius: 50%;
}